<div class="container-fluid g-0">
    <app-userheader></app-userheader>
</div>
<div class="flex-container">
    <div class="flex-item1"> <!-- First vertical part -->
      <div>
        <ul>
        <li>
        <div>
          <a routerLink="./dashboard">Dashboard</a>
        </div>
        </li>
      <li>
        <div>
          <a routerLink="./viwebooking">Viwe Booking</a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="./editprofile">Edit Profile</a>
        </div>
      </li>
        </ul>
      </div>
    </div>
    <div class="flex-item2"> <!-- Second vertical part -->
      <h2>Second Vertical Part</h2>
    </div>
  </div>
  