<div class="container-fluid g-0">
    <app-adminheader></app-adminheader>
  </div>
  
  <div class="flex-container">
    <div class="flex-item1"> <!-- First vertical part -->
      <div>
        <ul>
            <li>
            <div>
              <a (click)="getdashboard()">Dashboard</a>
            </div>
            </li>
            <li>
            <div>
              <a (click)="getcompanyinfo()">Company Info</a>
            </div>
          </li>
          <li>
            <div>
              <a (click)="getsearchvehical()">Search Vehical</a>
            </div>
          </li>
          <li>
            <div>
              <a (click)="getmanageaccount()">Manage Account</a>
            </div>
          </li>
            </ul>
      </div>
    </div>
    <div class="flex-item2"> <!-- Second vertical part -->
      <h2>Admin ViweMore</h2>
      <p></p>
    </div>
  </div>
  