<div class="container-fluid g-0">
    <app-watchmanheader></app-watchmanheader>
</div>
<div class="flex-container">
    <div class="flex-item1"> <!-- First vertical part -->
      <div>
        <ul>
        <li>
        <div>
          <a routerLink="./dashboard">Dashboard</a>
        </div>
        </li>
        <li>
        <div>
          <a routerLink="./addbooking">Add Booking</a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="./viwebooking">Viwe Booking</a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="./charges">Charges</a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="./printslip">Entry & Exit</a>
        </div>
      </li>
        </ul>
      </div>
    </div>
    <div class="flex-item2"> <!-- Second vertical part -->
      <h2>Second Vertical Part</h2>
      <p><router-outlet></router-outlet></p>
    </div>
  </div>
  