<div class="container-fluid g-0">
    <app-watchmanheader></app-watchmanheader>
</div>
<div class="flex-container">
    <div class="flex-item1"> <!-- First vertical part -->
      <div>
        <ul>
        <li>
        <div>
          <a (click)="getdashboard()">Dashboard</a>
        </div>
        </li>
        <li>
        <div>
          <a (click)="getaddbooking()">Add Booking</a>
        </div>
      </li>
      <li>
        <div>
          <a (click)="getviwebooking()">Viwe Booking</a>
        </div>
      </li>
      <li>
        <div>
          <a (click)="getcharges()">Charges</a>
        </div>
      </li>
      <li>
        <div>
          <a (click)="getprintslip()">Entry & Exit</a>
        </div>
      </li>
        </ul>
      </div>
    </div>
    <div class="flex-item2"> <!-- Second vertical part -->
      <h2>Watchman Charges</h2>
      <table>
        <tr>
          <td class="clstbltd"><h5>{{watchmandashboard.TwoWheelerParkingCharge}}</h5><p>Two Wheeler Parking Charge</p></td>
          <td class="clstbltd"><h5>{{watchmandashboard.FourWheelerParkingCharge}}</h5><p>Four Wheeler Parking Charge</p></td>
        </tr>
        <tr>
          <td class="clstbltd"><h5>{{watchmandashboard.TwoWheelerPenaltyCharge}}</h5><p>Two Wheeler Penalty Charge</p></td>
          <td class="clstbltd"><h5>{{watchmandashboard.FourWheelerPenaltyCharge}}</h5><p>Four Wheeler Penalty Charge</p></td>
        </tr>
      </table>
    </div>
  </div>
  