<h2>Forget Password</h2>
<br>
<div>Enter Your Register Email Below 
    to Verify OTP and Set Password</div>
<form #forgetform="ngForm">
    <br>
    Select Role :
    <select #fp name="forgetrole"  ngModel>
        <option *ngFor="let option of forgetoptions" [value]="option" >{{ option }}</option>
    </select>
    <br>
    <br>
    <input type="email" name="email" id="email" placeholder="Enter Your EmailID" ngModel>
    <br><br>
    <button type="submit"  (click)="setforgetpass(forgetform.value)">Sent OTP</button>
    <button (click)="Backtologinpage()">Cancel</button>
</form>
<br>
<div>{{otpsent}}</div>
<br>
<form #verifyform="ngForm" *ngIf="status">
    <input type="number" name="otp" id="otp" placeholder="Enter OTP" ngModel><br><br>
    <button type="submit" (click)="verifyotp(verifyform.value)">Verify</button>
    <button (click)="resentopt()">Resent OTP</button>
</form>
<br>
<div>{{validotp}}</div>
<br>
<form #resetpass="ngForm" *ngIf="otpstatus">
    <input type="password" name="password" id="password" ngModel placeholder="Enter Password"><br><br>
    <input type="password" name="repassword" id="repassword" ngModel placeholder="Re-Enter Password"><br><br>
    <button type="submit" (click)="setpassword(resetpass.value)">Confirm</button>
</form>
<br>
<div>{{passchange}}</div>

