<div class="container-fluid g-0">
    <app-adminheader></app-adminheader>
  </div>
  
  <div class="flex-container">
    <div class="flex-item1"> <!-- First vertical part -->
      <div>
        <ul>
        <li>
        <div>
          <a (click)="getdashboard()">Dashboard</a>
        </div>
        </li>
        <li>
        <div>
          <a (click)="getcompanyinfo()">Company Info</a>
        </div>
      </li>
      <li>
        <div>
          <a (click)="getsearchvehical()">Search Vehical</a>
        </div>
      </li>
      <li>
        <div>
          <a (click)="getmanageaccount()">Manage Account</a>
        </div>
      </li>
        </ul>
      </div>
    </div>
    <div class="flex-item2"> <!-- Second vertical part -->
      <h2>Company Information</h2>
      <div>
        <table style="border-collapse: collapse;">
          <tr>
            <th style="border: 1px solid black;">ID</th>
            <th style="border: 1px solid black;">Company Name</th>
            <th style="border: 1px solid black;">Total Parking</th>
            <th style="border: 1px solid black;">Total Revenue</th>
            <th style="border: 1px solid black;">In-use Parking</th>
            <th style="border: 1px solid black;">Available Parking</th>
            <th style="border: 1px solid black;">Contact Number</th>
            <th style="border: 1px solid black;">Report</th>
          </tr>
          <tr>
            <td style="border: 1px solid black;">1</td>
            <td style="border: 1px solid black;">Company1</td>
            <td style="border: 1px solid black;">100</td>
            <td style="border: 1px solid black;">8000</td>
            <td style="border: 1px solid black;">50</td>
            <td style="border: 1px solid black;">50</td>
            <td style="border: 1px solid black;">9090909090</td>
            <td style="border: 1px solid black;"><a routerLink="viwemore">Viwe More</a></td>
          </tr>
          <tr>
            <td style="border: 1px solid black;">2</td>
            <td style="border: 1px solid black;">Company2</td>
            <td style="border: 1px solid black;">200</td>
            <td style="border: 1px solid black;">12000</td>
            <td style="border: 1px solid black;">150</td>
            <td style="border: 1px solid black;">50</td>
            <td style="border: 1px solid black;">1200012345</td>
            <td style="border: 1px solid black;"><a routerLink="viwemore">Viwe More</a></td>
          </tr>
          <tr>
            <td style="border: 1px solid black;">3</td>
            <td style="border: 1px solid black;">Company3</td>
            <td style="border: 1px solid black;">120</td>
            <td style="border: 1px solid black;">32000</td>
            <td style="border: 1px solid black;">50</td>
            <td style="border: 1px solid black;">70</td>
            <td style="border: 1px solid black;">1234567890</td>
            <td style="border: 1px solid black;"><a routerLink="viwemore">Viwe More</a></td>
          </tr>
          <tr>
            <td style="border: 1px solid black;">4</td>
            <td style="border: 1px solid black;">Company4</td>
            <td style="border: 1px solid black;">200</td>
            <td style="border: 1px solid black;">92000</td>
            <td style="border: 1px solid black;">150</td>
            <td style="border: 1px solid black;">50</td>
            <td style="border: 1px solid black;">9876512345</td>
            <td style="border: 1px solid black;"><a routerLink="viwemore">Viwe More</a></td>
          </tr>
          <tr>
            <td style="border: 1px solid black;">5</td>
            <td style="border: 1px solid black;">Company5</td>
            <td style="border: 1px solid black;">500</td>
            <td style="border: 1px solid black;">650000</td>
            <td style="border: 1px solid black;">230</td>
            <td style="border: 1px solid black;">270</td>
            <td style="border: 1px solid black;">9878987899</td>
            <td style="border: 1px solid black;"><a routerLink="viwemore">Viwe More</a></td>
          </tr>
        </table>
        
      </div>
    </div>
  </div>
  